@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5% 96%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 85.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 85.1%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 252 18.5% 5.3%;
 
    --muted: 214 32% 91%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 154 76% 58%;
    --accent-foreground: 252 18.5% 5.3%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 85.1%;
 
    --radius: 0.5rem;
    --black: 0 0% 100%;
  }
 
  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 9%;
 
    --card: 0 0% 85.1%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 85.1%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 85%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 154 76% 58%;
    --accent-foreground: 252 18.5% 5.3%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --black: 0 0% 0%;
  }
}
 
@layer base {
  * {
    @apply font-sans border-border;
  }
  body {
    @apply bg-background text-primary;
  }
}